---
import SiteConfig from "../../global.config";
import BaseHead from "../components/BaseHead.astro";
---

<html lang={SiteConfig.locale}>
  <BaseHead />
  <body class="overflow-y-hidden">
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
